*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(to top right, #FF0000, #000, #B0B0B0);
}

.contenedor{
  opacity: 0;
}
.contenedor-img{
  opacity: 1;
  transition: opacity 0.5s linear 1s;
}

header{
  color: #fff;
}

header  a{
  color: #fff;
  text-decoration: none;
}

.logo-menu{
 background: rgba(112, 15, 15, 0.9);
}

.logo-menu .menu a{
  display: inline-block;
  padding: 40px 20px;
}
.logo-menu .menu a:hover{
  border-bottom: 4px solid #ccc;
  padding-bottom: 40px;
}

.submenu{
  background: rgba(170, 138, 138, 0.2);
}

.submenu nav a {
  padding: 26px 20px;
  display: inline-block;
}

.submenu nav a:hover{
  color: #ccc;
}


div.login h2{
  position: relative;
  top: 20px;
  color: #000;
}
div.login a{
 padding: 6px;
 position: relative;
 top: 40px;
 color: #000;
}
div.login a:hover{
  color: rgba(112, 15, 15, 0.9);
}

.thumb{
  margin: auto;
}

.main{
  margin: 40px 0;
}
.main .thumb{
  margin-bottom: 20px;
}
.main .thumb img {
  width: 100%;
}

.thumb img{
 border-radius: 10px;
}

@media screen and (max-width:1000px){
  body{
    background-image: url(../images/fondo2.jpg);
  }
  .logo-menu{
    background-image: linear-gradient(to top right, #B0B0B0, #000, #ff0000);
  }
  .submenu{
    background: rgba(0, 0, 0, 0.4);
  }
}
@media screen and (max-width:1200px){
  .login{
    display: none;
  }
}
